@import url("./_fonts.css");
@import url("./_formatted-text.css");
@import url("./_reset.css");
@import url("./_variables.css");

.page {
  display: grid;
  grid-template-areas: "navigation" "main" "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

.page-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
  grid-area: footer;
  height: var(--height-page-footer);
  justify-content: center;
}

.page-footer a {
  text-decoration: none;
}

.page-footer img {
  display: block;
  height: 20px;
  width: 20px;
}

.page-footer__links {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2x);
  padding: 0 var(--spacing-base);
}

.page-main {
  display: flex;
  grid-area: main;
  justify-content: center;
}

.page-navigation {
  background-color: white;
  border-bottom: 2px solid var(--color-separator);
  box-shadow: 0 0 10px var(--color-separator);
  display: flex;
  flex-direction: row;
  grid-area: navigation;
  height: var(--height-page-navigation);
  justify-content: space-between;
  top: 0;
  transition: border-bottom-color 100ms ease;
  z-index: var(--z-index-primary-navigation);

  @media (max-width: 900px) {
    position: fixed;
    width: 100%;
  }
  @media (min-width: 900px) {
    position: sticky;
  }

  &:has(.page-navigation__dropdown:hover) {
    border-bottom-color: wheat;
  }
}

@media (max-width: 900px) {
  .page-navigation__dropdowns {
    display: none;
  }
}
@media (min-width: 900px) {
  .page-navigation__dropdowns {
    display: grid;
    grid-template-columns: repeat(3, 190px);
  }

  .page-navigation__dropdown {
    display: flex;
    position: relative;

    &:hover {
      .page-navigation__dropdown__content {
        opacity: 1;
        pointer-events: auto;
        user-select: auto;
      }
    }

    > a {
      font-weight: 500;
    }
  }

  .page-navigation__dropdown.page-navigation__dropdown--collection-active {
    > a {
      color: var(--color-body-font);
    }
  }

  .page-navigation__dropdown__content {
    background-color: transparent;
    bottom: 2px;
    left: 0;
    opacity: 0;
    padding: 0 var(--spacing-2x) var(--spacing-2x) var(--spacing-2x);
    pointer-events: none;
    position: absolute;
    transform: translate3d(
      calc(-1 * (var(--spacing-2x) + var(--spacing-base))),
      100%,
      0
    );
    transition: opacity 100ms ease;
    user-select: none;
    z-index: var(--z-index-primary-navigation-dropdown);
  }

  .page-navigation__dropdown__label {
    --size-icon: 20px;

    align-items: center;
    background-image: url("../media/icon-keyboard-arrow-down.svg");
    background-position: calc(100% - var(--spacing-base)) center;
    background-repeat: no-repeat;
    background-size: var(--size-icon);
    cursor: pointer;
    display: flex;
    padding: var(--spacing-half)
      calc(var(--spacing-quarter) + var(--size-icon) + var(--spacing-base))
      var(--spacing-half) var(--spacing-base);
    text-decoration-line: none;
    z-index: 1;
  }

  .page-navigation__dropdown__links {
    background-color: white;
    border-radius: 0 0 20px 10%;
    box-shadow:
      -4px 4px 0 #ffff0022,
      -4px 4px 0 #ff000022,
      4px 6px 0 #0000ff22;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-half) 0;
  }
}

.page-navigation__link {
  align-items: center;
  display: inline-flex;
  padding: var(--spacing-base);
  position: relative;
  text-decoration-line: none;
  white-space: nowrap;

  img {
    height: 30px;
    width: 30px;
  }
}

.page-navigation__link.page-navigation__link--dropdown {
  padding: var(--spacing-half) var(--spacing-2x);
  position: relative;
  z-index: 1;
}

.page-navigation__link.page-navigation__link--site-name {
  font-weight: bold;

  @media (max-width: 900px) {
    padding: var(--spacing-base);
  }
  @media (min-width: 900px) {
    padding: var(--spacing-base) var(--spacing-base-plus-half);
  }
}

.page-navigation__track {
  display: flex;
}
