.page {
  --background-image-grid: radial-gradient(
    circle,
    #00000033 1px,
    transparent 1px
  );

  @media (max-width: 900px) {
    background-image: var(--background-image-grid);
    background-size: 40px 40px;
  }
  @media (min-width: 900px) {
    background-image:
      linear-gradient(90deg, transparent 40%, var(--color-highlight)),
      var(--background-image-grid);
    background-size:
      auto,
      40px 40px;
  }
}

.page-navigation {
  background-color: transparent;
  border-bottom: none;
  box-shadow: none;
}

.homepage {
  justify-content: center;
  width: 100%;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 600px;
    padding-bottom: var(--spacing-2x);
    padding-top: calc(var(--height-page-navigation) + var(--spacing-2x));
    row-gap: var(--spacing-2x);
  }
  @media (min-width: 900px) {
    align-items: end;
    align-content: space-between;
    display: grid;
    grid-template-areas:
      "nothing details"
      "headline details";
    grid-template-columns: 2fr 1fr;
    min-height: calc(100dvh - var(--height-page-navigation));
  }
}

.homepage__benefits {
  display: flex;
  flex-direction: column;
  list-style-type: "■  ";
  row-gap: var(--spacing-quarter);

  @media (max-width: 900px) {
    list-style-position: inside;
  }
  @media (min-width: 900px) {
    list-style-position: outside;
    padding: 0 var(--spacing-half);

    li {
      padding-left: var(--spacing-half);
    }
  }
}

.homepage__cta {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-base);
}

.homepage__cta__button {
  border-radius: 20px 30%;
  display: inline-flex;
  padding: var(--spacing-half) var(--spacing-base);
  text-decoration: none;

  @media (max-width: 900px) {
    border: 2px solid var(--color-border);
  }
}

.homepage__cta__button.homepage__cta__button--primary {
  border: 2px solid var(--color-border);
}

.homepage__details {
  display: flex;
  flex-direction: column;
  text-wrap-style: pretty;

  @media (max-width: 900px) {
    padding: 0 var(--spacing-base);
    row-gap: var(--spacing-base);

    h2 {
      font-weight: bold;
    }
  }
  @media (min-width: 900px) {
    grid-area: details;
    height: 100%;
    justify-content: end;
    padding: var(--spacing-2x);
    row-gap: var(--spacing-2x);

    h2,
    p {
      padding-left: var(--spacing-base);
    }

    h2 {
      font-size: var(--font-size-h2);
      font-weight: 500;
    }
  }
}

.homepage__details__video {
  height: 100%;
}

.homepage__details__section {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-base);
}

.homepage__product-name {
  @media (max-width: 900px) {
    display: none;
  }
  @media (min-width: 900px) {
    align-self: flex-start;
    font-size: var(--font-size-h2);
    font-weight: 500;
    grid-area: product-name;
    padding: var(--spacing-2x);
    position: sticky;
    top: var(--height-page-navigation);
  }
}

.homepage__title {
  font-family: var(--font-family-serif);
  font-weight: 400;
  line-height: 0.9;
  text-wrap-style: balance;

  @media (max-width: 900px) {
    font-size: 80px;
    padding: 0 var(--spacing-base);
  }
  @media (min-width: 900px) {
    font-size: 140px;
    grid-area: headline;
    max-width: 1000px;
    padding: var(--spacing-2x);
  }
  @media (min-width: 1440px) {
    font-size: 200px;
  }
}
